<footer>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6 footer-section">
                <h5 class="text">Información de contacto</h5>
                <p class="text">Dirección: Chile, Santiago, La Pintana</p>
                <p class="text">Teléfono:+ 569 49528481 </p>
                <p class="text">Correo electrónico: marjorie.ramirez@soymas.cl</p>
            </div>
            <div class="col-lg-6 footer-section">
                <h5 class="text">Enlaces útiles</h5>
                <ul class="list-unstyled">
                    <li><a href="https://www.linkedin.com/in/marjorie-ramirez-51435829b/" target="_blank"><img width="48" height="48" src="https://img.icons8.com/color/48/linkedin.png" alt="linkedin"/></a></li>
                    <li><a href="https://github.com/adaSkribana" target="_blank"><img width="48" height="48" src="https://img.icons8.com/ios-filled/50/github.png" alt="github"/></a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-3 footer-section">
            <div class="col text-center">
                <p class="text">&copy; 2024 Tu empresa. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>
