.menu-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 10%;
    height: 50px;
    background: rgba(255, 255, 255, 0.43);
    border: 1px solid rgb(241, 31, 31);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
    transition: transform 0.3s, box-shadow 0.3s;
}

.menu-btn:hover {
    color: rgb(168, 163, 163);
    transform: scale(1.1);
    box-shadow: 0 6px 40px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.43);
    border: 1px solid rgb(243, 33, 33);
}

.glass-sidebar {
    background: rgba(255, 255, 255, 0.43);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    -webkit-backdrop-filter: blur(6.9px);
    border: 1px solid rgb(244, 40, 40);
}

.glass-sidebar .offcanvas-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.55);
}

.glass-sidebar .offcanvas-body ul.components li a {
    color: rgb(241, 9, 9);
    transition: color 0.3s, background 0.3s;
    font-size: 18px; /* Ajusta el tamaño de la fuente */
}

.glass-sidebar .offcanvas-body ul.components li a:hover {
    color: #fff;
    background-color: rgb(122, 7, 7);
    border-radius: 5px;
}

.btn-outline-light {
    font-size: 18px; /* Ajusta el tamaño de la fuente */
}

.offcanvas-title{
    font-size: 24px; /* Ajusta el tamaño de la fuente */
}
